$smallest-screen: '330px';
$small-mid-screen: '400px';
$small-screen: '500px';
$medium-screen: '800px';
$large-screen: '1200px';

$header-lg-size: 25px;
$header-mid-size: 23px;
$header-sm-size: 18px;

$p-lg-size: 14.2px;
$p-mid-size: 13.5px;
$p-sm-size: 12.7px;